

.overlay {
  position: relative;
}

.overlay > * {
  z-index: 1;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.overlay-dark::after {
  background-color: black;
  opacity: .0;
}