
/* Text Alignment */
.text-left {text-align: left}
.text-center {text-align: center}
.text-right {text-align: right}
.text-justify {text-align: justify}

/* Text Color */
.text-white {color: white}
.text-primary {color: var(--primary)}
.text-secondary {color: var(--secondary)}